.cover__link {
    background-image: url(https://i.ibb.co/CKvCY3V/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    text-decoration: none;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 740px;
    transition: opacity .5s linear;
    
  }
  
  .cover__link:before{
    content: "";
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    transition: opacity 1s;
  }
  
  .cover__link:hover::before {
    transition: opacity .5s linear;
    opacity: .6;
  }


  @media screen and (min-width: 321px) and (max-width: 768px){
    .cover__link {     
      min-height: 200px;
      margin: 0 auto;
      background-size: cover;

    }
}

  