.footer__author {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  
  .footer__author:before {
    content: '';
    padding-right: 5px;
  }
  
  @media screen and (max-width: 320px) {
    .footer__author {
      line-height: 14px;
      padding-top: 16px;
    }
  }